body {
  margin: 0;
}
.nav-bits {
  display: flex;
  justify-content: space-between;
  height: 10%;
  background-color: bisque;
}
.cart {
  height: 75px;
  width: 75px;
}
.menu {
  position: relative;
  height: 100vh;
}
.top {
  z-index: 1;
}
.button-box {
  display: flex;
}
.nav-buttons {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(228, 200, 163);
  margin-bottom: -10px;
}
.drink-menu {
  position: absolute;
  background-color: burlywood;
  height: 100%;
  width: 100%;
  border: 1px black solid;
}
.eat-menu {
  position: absolute;
  background-color: brown;
  height: 100%;
  width: 100%;
  border: 1px black solid;
}

.drink-item {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
  border: solid grey 1px;
  background-color: rgb(165, 42, 42, 0.6);
}
.eat-item {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
  border: solid grey 1px;
  background-color: rgb(165, 42, 42, 0.6);
}

.bill-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
}

.bill {
  position: absolute;
  width: 50%;
  background-color: cornsilk;
  z-index: 3;
  left: 25%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}

.bill-box {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  border-bottom: 1px solid green;
}

.x {
  position: absolute;
  top: 0;
  margin: 0;
  right: 0;
  padding: 2px;
  background-color: rgb(170, 158, 124);
  border: 1px solid grey;
  color: cornsilk;
}
.total-box {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  /* border-top: 1px solid blue; */
  border-bottom: 2px solid green;
}

.payment {
  display: flex;
  justify-content: space-between;
}

/* @media only screen and (min-width: 768px) {
  .flex-menu{
    display: flex;
    flex-grow: .25;
  }
  .eat-menu, .drink-menu{
    position: relative;
  }
} */
